<%= nested_form_for(@poll) do |poll_form| %>
  <%# TODO Check if helper is available for this or create one. %>
  <% if @poll.errors.any? %>
    <div id="error_explanation">

      <h2><%= pluralize(@poll.errors.count, 'error') %> prohibited this poll from being saved:</h2>

      <ul>
        <% @poll.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields">
    <%= poll_form.label :question %>
    <%= poll_form.text_field :question %>
  </div>
  <%= poll_form.fields_for(:options) do |option_form| %>
    <%= option_form.label 'Option' %>
    <%= option_form.text_field :description %>
    <%= option_form.link_to_remove 'Remove this option' %>
  <% end %>
  <%= poll_form.link_to_add 'Add option', :options %>
  <div class="fields">
    <%= poll_form.submit %>
  </div>
<% end %>