<%= nested_form_for(@poll) do |poll_form| %>
  <div class="fields">
    <%= poll_form.label :question %>
    <%= poll_form.text_field :question %>
  </div>
  <%= poll_form.fields_for(:options) do |option_form| %>
    <%= option_form.label 'Option' %>
    <%= option_form.text_field :description %>
  <% end %>
  <%= poll_form.link_to_add 'Add option', :options %>
  <div class="fields">
    <%= poll_form.submit %>
  </div>
<% end %>